<ul class="products">
  <li class="product">
    <a [routerLink]="['/shop/', productco.id]">
      <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image"
        [src]="productco.images[0]">
      <h3>{{productco.title}}</h3>
      <span class="price"><span class="amount"><ins>${{productco.price}}</ins> </span></span>
    </a>
    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow"
      >Select options</a>
  </li>
</ul>
