<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Checkout</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <app-search></app-search>
        <h2 class="sidebar-title">Orther Product</h2>
        <app-orther *ngFor="let product of datas | paginate:{currentPage: pagination, itemsPerPage: 5, totalItems: allProduct} " [product]="product"></app-orther>
      </div>
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="woocommerce">
            <form enctype="multipart/form-data" action="#" class="checkout" method="post" name="checkout">
              <div id="customer_details" class="col2-set">
                <app-billing></app-billing>

                <app-different-address></app-different-address>
              </div>
              <h3 id="order_review_heading">Your order</h3>
              <div id="order_review" style="position: relative;">
                <app-your-order></app-your-order>

                <app-payment-methods></app-payment-methods>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
