<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Contact</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="page-wrapper">
      <div class="wrapbox-content-page">
        <div class="content-page ">
          <h3 class="text-center">
            Welcome to Le Electronic - where you can find the most reliable and quality electronic technology
            products.
          </h3>
          <p>
            &nbsp; We provide you with a reliable and easy online shopping experience. With a diverse product portfolio, we
            pride ourselves on providing you with the latest technology, convenience and affordable prices.
            We are committed to providing you with the best quality products and services, and providing you with a
            great online shopping experience. We understand that shopping online can be a daunting experience at
            times, so we have made every effort to ensure that your shopping process is as easy and comfortable as
            possible.
          </p>
          <p>&nbsp; We pride ourselves on our ability to provide you with products of the highest quality and reliability,
            including world-renowned brands and products designed to meet the needs of our customers.
            Explore our products today and experience the ultimate online shopping experience. If you have any
            questions or require assistance, please feel free to contact us. We are always ready to assist you.
            Thank you for coming to Le Electronic!
          </p>

        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 box-heading-contact">
        <div class="box-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.9669798992545!2d108.20276899999999!3d16.067203199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142184d687c0ddd%3A0x532210d879f8c3d1!2zNjYgVsO1IFbEg24gVOG6p24sIENow61uaCBHacOhbiwgVGhhbmggS2jDqiwgxJDDoCBO4bq1bmcgNTUwMDAw!5e0!3m2!1sen!2s!4v1655976359121!5m2!1sen!2s"
            width="100%" height="700" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12  wrapbox-content-page-contact">
        <div class="header-page-contact clearfix">
          <h2>Contact With Me</h2>
        </div>
        <div class="box-info-contact">
          <ul class="list-info">
            <li>
              <p>Our address</p>
              <p><strong>66 Vo van Tan, Thanh Khe, Da Nang</strong></p>
            </li>
            <li>
              <p>Email us</p>
              <p><strong>linh@gmail.com</strong></p>
            </li>
            <li>
              <p>Phone</p>
              <p><strong>0123456789</strong></p>
            </li>
            <li>
              <p>Working time</p>
              <p><strong>Monday to Friday from 8am to 6pm; Saturday and Sunday from 8:30 a.m. to 5:00 p.m </strong>
              </p>
            </li>
          </ul>
        </div>
        <div class="box-send-contact">
          <h2>Send us a question</h2>
          <div id="col-left contactFormWrapper menuList-links">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="contact-form">
                <div class="row">
                  <input formControlName="email" type="text" class="form-control" placeholder="Your Email">
                  <br>
                  <input formControlName="name" type="text" class="form-control" placeholder="Your Name">
                  <br>
                  <input formControlName="phone" type="number" class="form-control" placeholder="Your Phone Number">
                  <br>
                  <div class="">
                    <textarea formControlName="body" cols="85" rows="10"
                      placeholder="Notes about your order, e.g. special notes for delivery."
                      class="input-text "></textarea>
                  </div>
                  <br>
                  <div class="col-sm-12 text-center">
                    <button type="submit">Send us</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
