<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Sign Up</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-agileinfo">
  <div class="agileits-top">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="firstName" class="form-control" placeholder="Firstname">
      <ng-container *ngIf="f.firstname.invalid && f.firstname.touched">
        <div class="invalid-message">This firstname is required.</div>
      </ng-container>
      <br>
      <input type="text" formControlName="lastName" class="form-control" placeholder="LastName">
      <ng-container *ngIf="f.lastname.invalid && f.lastname.touched">
        <div class="invalid-message">This lastname is required.</div>
      </ng-container>
      <br>
      <input type="text" formControlName="username" class="form-control" placeholder="Username">
      <ng-container *ngIf="f.username.invalid && f.username.touched">
        <div class="invalid-message">This username is required.</div>
      </ng-container>
      <br>
      <input type="password" formControlName="password" class="form-control" placeholder="Password" minlength="6">
      <ng-container *ngIf="f.password.invalid && f.password.touched">
        <div class="invalid-message" *ngIf="f.password.errors?.minlength">Minimum length of a password is 6</div>
        <div class="invalid-message" *ngIf="f.password.errors?.required">This username is required.</div>
      </ng-container>
      <br>
      <div class="wthree-text">
        <label class="anim">
          <input type="checkbox" class="checkbox"> <span>I Agree To The Terms & Conditions</span>
        </label>
        <div class="clear"> </div>
      </div>
      <button type="submit" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Register
      </button>
      <p>Don't have an Account? <a [routerLink]="['/signin']"> Login Now!</a></p>
    </form>
  </div>
</div>
