<form [formGroup]="form" (ngSubmit)="submitInfor()">

  <div id="customer_details" class="col2-set">
    <div class="col-1">
      <div class="woocommerce-billing-fields">
        <h3>Billing Details</h3>
        <div>
          <label class="" for="billing_country">Country</label>
          <select class="country_to_state country_select" formControlName="country"
            [ngClass]="{'is-invalid': submitted && f.country.errors}">
            <option value="">Select a country…</option>
            <option value="Islands">Islands</option>
            <option value="Argentina">Argentina</option>
            <option value="Australia">Australia</option>
            <option value="Belarus">Belarus</option>
            <option value="Brazil">Brazil</option>
            <option value="Canada">Canada</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Greenland">Greenland</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Italy">Italy</option>
            <option value="Japan">Japan</option>
            <option value="Laos">Laos</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Mexico">Mexico</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Morocco">Morocco</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Netherlands">Netherlands</option>
            <option value="New Zealand">New Zealand</option>
            <option value="North Korea">North Korea</option>
            <option value="Norway">Norway</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Qatar">Qatar</option>
            <option value="Russia">Russia</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="KR">South Korea</option>
            <option value="Spain">Spain</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syria">Syria</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Thailand">Thailand</option>
            <option value="Turkey">Turkey</option>
            <option value="UK">United Kingdom</option>
            <option value="US">United States</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
          </select>
          <div *ngIf="{'is-invalid': submitted && f.country.errors }" class="invalid-feedback">
            <div *ngIf="f.country.errors?.['required']">
              This country is required.
            </div>
          </div>
        </div>
        <br>
        <div>
          <label class="" for="billing_first_name">Name: </label>
          <input type="text" formControlName="name" placeholder="Your name"
            [ngClass]="{'is-invalid': submitted && f.name.errors }">
          <div *ngIf="{'is-invalid': submitted && f.name.errors }" class="invalid-feedback">
            <div *ngIf="f.name.errors?.['required']">
              This name is required.
            </div>
          </div>
          <!-- <input type="text" placeholder="Name" formControlName="name" [ngClass]="{'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div> -->
        </div>
        <br>
        <div>
          <label class="" for="billing_address">Address </label>
          <input type="text" placeholder="Street address" formControlName="address"
            [ngClass]="{'is-invalid': submitted && f.address.errors}">
          <div *ngIf="{'is-invalid': submitted && f.address.errors }" class="invalid-feedback">
            <div *ngIf="f.address.errors?.['required']">
              This address is required.
            </div>
          </div>
        </div>
        <br>
        <div>
          <label class="" for="billing_city">Town / City </label>
          <input type="text" placeholder="Town / City" formControlName="city"
            [ngClass]="{'is-invalid': submitted && f.city.errors}">
          <div *ngIf="{'is-invalid': submitted && f.city.errors }" class="invalid-feedback">
            <div *ngIf="f.city.errors?.['required']">
              This city is required.
            </div>
          </div>
        </div>
        <br>
        <div>
          <label class="" for="billing_postcode">Postcode</label>
          <input type="text" placeholder="Postcode / Zip" formControlName="postcode"
            [ngClass]="{'is-invalid': submitted && f.postcode.errors}">
          <div *ngIf="{'is-invalid': submitted && f.postcode.errors }" class="invalid-feedback">
            <div *ngIf="f.postcode.errors?.['required']">
              This postcode is required.
            </div>
          </div>
        </div>
        <br>
        <div>
          <label class="" for="billing_email">Email Address </label>
          <input type="text" placeholder="" formControlName="email"
            [ngClass]="{'is-invalid': submitted && f.email.errors}">
          <div *ngIf="{'is-invalid': submitted && f.email.errors }" class="invalid-feedback">
            <div *ngIf="f.email.errors?.['required']">
              This email is required.
            </div>
          </div>
        </div>
        <br>
        <div>
          <label class="" for="billing_phone">Phone </label>
          <input type="text" placeholder="" formControlName="phone"
            [ngClass]="{'is-invalid': submitted && f.phone.errors}">
          <div *ngIf="{'is-invalid': submitted && f.phone.errors }" class="invalid-feedback">
            <div *ngIf="f.phone.errors?.['required']">
              This phone is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="woocommerce-shipping-fields">
        <h3 id="ship-to-different-address">
          <label class="checkbox">Ship to a different
            address?</label>
          <input type="checkbox" value="1" name="ship_to_different_address" checked="checked" class="input-checkbox"
            id="ship-to-different-address-checkbox">
        </h3>
        <div class="shipping_address" style="display: block;">
          <p>
            <label class="" for="shipping_country">Country </label>
            <select class="country_to_state country_select" id="shipping_country" name="shipping_country">
              <option value="">Select a country…</option>
              <option value="Islands">Islands</option>
              <option value="Argentina">Argentina</option>
              <option value="Australia">Australia</option>
              <option value="Belarus">Belarus</option>
              <option value="Brazil">Brazil</option>
              <option value="Canada">Canada</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Colombia">Colombia</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Germany">Germany</option>
              <option value="Greenland">Greenland</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Italy">Italy</option>
              <option value="Japan">Japan</option>
              <option value="Laos">Laos</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Mexico">Mexico</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Morocco">Morocco</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Netherlands">Netherlands</option>
              <option value="New Zealand">New Zealand</option>
              <option value="North Korea">North Korea</option>
              <option value="Norway">Norway</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Qatar">Qatar</option>
              <option value="Russia">Russia</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="KR">South Korea</option>
              <option value="Spain">Spain</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syria">Syria</option>
              <option value="Taiwan">Taiwan</option>
              <option value="Thailand">Thailand</option>
              <option value="Turkey">Turkey</option>
              <option value="UK">United Kingdom</option>
              <option value="US">United States</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Vietnam</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
          </p>
          <p>
            <label class="" for="shipping_first_name">Name: </label>
            <input type="text">
          </p>
          <p>
            <label class="" for="shipping_address_1">Address</label>
            <input type="text" placeholder="Street address">
          </p>
          <p>
            <input type="text" placeholder="Apartment, suite, unit etc. (optional)">
          </p>
          <p>
            <label class="" for="shipping_city">Town / City </label>
            <input type="text" value="" placeholder="Town / City">
          </p>
          <p>
            <label class="" for="shipping_state">County</label>
            <input type="text" placeholder="State / County">
          </p>
          <p>
            <label class="" for="shipping_postcode">Postcode</label>
            <input type="text" placeholder="Postcode / Zip">
          </p>
          <div class="clear"></div>
        </div>
        <p id="order_comments_field" class="form-row notes">
          <label class="" for="order_comments">Order Notes</label>
          <textarea cols="5" rows="2" placeholder="Notes about your order, e.g. special notes for delivery."
            id="order_comments"></textarea>
        </p>
      </div>
    </div>
  </div>

  <h3 id="order_review_heading">Your order</h3>
  <div id="order_review" style="position: relative;">
    <table class="shop_table">
      <thead>
        <tr>
          <th class="product-name">Product</th>
          <th class="product-total">Total</th>
        </tr>
      </thead>

      <tbody>
        <ng-container>
          <tr class="cart_item" *ngFor="let product of products">
            <td class="product-name">
              {{product.title}}<strong class="product-quantity"> × {{product.quantity}}</strong> </td>
            <td class="product-total">
              <span class="amount">${{product.price * product.quantity}}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>

      <tfoot>
        <tr class="cart-subtotal">
          <th>Cart Subtotal</th>
          <td>${{totalAmount()}}</td>
        </tr>
        <tr class="shipping">
          <th>Shipping and Handling</th>
          <td>
            $10
            <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0"
              name="shipping_method[0]">
          </td>
        </tr>
        <tr class="order-total">
          <th>Order Total</th>
          <td type="number"><strong>${{totalAmount()}}</strong> </td>
        </tr>
      </tfoot>
    </table>

    <div class="payment">
      <h3 class="order_review_heading">payment methods</h3>
      <select class="payment_methods methods" formControlName="payment"
        [ngClass]="{'is-invalid': submitted && f.payment}">
        <option value="">Select a payment method</option>
        <option value="cash"> Cash</option>
        <option value="banking"> Direct Bank Transfer </option>
        <option value="paypal"> Paypay</option>
      </select>

      <div class="clear"></div>
    </div>
    <div class="form-row place-order">
      <button type="submit" [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
      Order
    </button>
    </div>
  </div>
</form>
<!-- <ul class="payment_methods methods" formControlName="payment" [ngClass]="{'is-invalid': submitted && f.payment}">
        <li class="payment_method_cheque">
          <input type="radio" name="payment_method" value="cash">
          <label for="payment_method_cheque">Cash </label>
        </li>
        <li class="payment_method_bacs">
          <input type="radio" name="payment_method" value="banking">
          <label for="payment_method_bacs">Direct Bank Transfer </label>
        </li>
        <li class="payment_method_paypal">
          <input type="radio" name="payment_method" value="paypal">
          <label for="payment_method_paypal">PayPal <img alt="PayPal Acceptance Mark"
              src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png">
            <a onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"
              class="about_paypal" routerLink="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?
            </a>
          </label>
          <div style="display:none;" class="payment_box payment_method_paypal">
            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
          </div>
        </li>
      </ul> -->
