<ng-container *ngIf="productco.id"></ng-container>
<tr class="gross-product">
  <td class="product-remove">
    <button type="submit" (click)="removeItem()"><i class="fa-solid fa-xmark"></i></button>
  </td>
  <td class="product-thumbnail">
    <a routerLink="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail"
        [src]="productco.images[0]"></a>
  </td>
  <td class="product-name">
    <a routerLink="single-product.html">{{productco.title}}</a>
  </td>
  <td class="product-price">
    <span class="amount">${{productco.price}}</span>
  </td>
  <td class="product-quantity">
    <div class="quantity buttons_added">
      <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
    </div>
  </td>
  <td class="product-subtotal">
    <span class="amount">${{productco.price}}</span>
  </td>
</tr>

