<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
       <app-search></app-search>
       <h2 class="sidebar-title">Orther Product</h2>
       <app-orther *ngFor="let product of datas | paginate:{currentPage: pagination, itemsPerPage: 5, totalItems: allProduct} " [product]="product"></app-orther>
      </div>
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="woocommerce">
            <app-gross></app-gross>
            <app-interested></app-interested>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
