<div class="single-product">
  <div class="product-f-image">
    <img [src]="product.images[0]" >
    <div class="product-hover">
      <a routerLink="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      <a [routerLink]="['/shop/', product.id]" class="view-details-link"><i class="fa fa-link"></i> See details</a>
    </div>
  </div>
  <h2><a routerLink="single-product.html">{{product.title}}</a></h2>
  <div class="product-carousel-price">
    {{product.price}}
  </div>
</div>
