<header></header>

<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <nav>
        <ul class="nav navbar-nav">
          <li><a routerLink="/home" routerLinkActive="selected" >Home</a></li>
          <li><a routerLink="/shop" routerLinkActive="selected" >Shop page</a></li>
          <li><a routerLink="/cart" routerLinkActive="selected">Cart</a></li>
          <li><a routerLink="/checkout" routerLinkActive="selected">Checkout</a></li>
          <li><a routerLink="/post" routerLinkActive="selected">Post</a></li>
          <li><a routerLink="introduce.html" routerLinkActive="selected">Introduce</a></li>
          <li><a routerLink="contact.html" routerLinkActive="selected">Contact</a></li>
        </ul>
      </nav>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<app-footertop></app-footertop>

<footerbottom></footerbottom>

