<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Post</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-sidebar">
          <h2 class="sidebar-title">New</h2>
          <div class="row"
            *ngFor="let posts of posts   | paginate: {currentPage: page, itemsPerPage: 5, totalItems: totalPost}">
            <ng-container *ngIf="posts.id">
              <div class="thubmnail-recent">
                <div class="item-article clearfix">
                  <div class="post-content">
                    <h4>
                      {{posts.id}} - {{posts.title}}
                    </h4>
                    <span class="body">
                      {{posts.body}}
                    </span><br>
                    <h5 class="text-center">
                     Reactions: <nz-rate [ngModel]="posts.reactions" [nzCount]="10"  nzDisabled ></nz-rate>
                    </h5>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
          </div>
        </div>
      </div>
      <app-post-remarkable></app-post-remarkable>
    </div>
  </div>
</div>
