<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Sign In</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-agileinfo">
  <div class="agileits-top">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="username" class="form-control" placeholder="Username" />
      <ng-container *ngIf="f.username.invalid && f.username.touched">
        <div class="invalid-message">This username is required.</div>
      </ng-container>
      <br>
      <input type="password" formControlName="password" class="form-control" placeholder="Password" />
      <ng-container *ngIf="f.password.invalid && f.password.touched">
        <div class="invalid-message">This password is required.</div>
      </ng-container>
      <br>
      <button type="submit" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Login
      </button>
      <p class="message">Not registered? <a [routerLink]="['/signup']">Create an account</a></p>
    </form>
  </div>
</div>
