<div class="brands-area">
  <div class="zigzag"></div>
  <div class="container">
    <div class="row">
      <div class="brand-wrapper">
        <h2 class="section-title">Brands</h2>
        <div class="owl-stage" style="transform: translate3d(70px, 0px, 100px);">
          <img src="/assets/img/Brands-apple.jpg" alt="Brands-apple">
          <img src="/assets/img/Brands-dell.jpeg" alt="Brands-dell">
          <img src="/assets/img/Brands-hp.jfif" alt="Brands-hp">
          <img src="/assets/img/Brands-asus.png" alt="Brands-asus">
          <img src="/assets/img/Brands-msi.png" alt="Brands-msi">
          <img src="/assets/img/Brands-samsung.png" alt="Brands-samsung">
          <img src="/assets/img/Brands-lenovo.png" alt="Brands-lenovo">
          <img src="/assets/img/Brands-acer.png" alt="Brands-acer">
        </div>
      </div>
    </div>
  </div>
</div>
