<ng-container *ngIf="product.id">
  <div class="product-breadcroumb">
    <a >Home</a>
    <a routerlink="/shop">Shop</a>
    <a >{{product.title}}</a>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="product-images">
        <div class="product-main-img">
          <img [src]="product.images[0]" alt="">
        </div>
        <div class="product-gallery">
          <img [src]="product.images[1]" alt="">
          <img [src]="product.images[2]" alt="">
          <img [src]="product.images[3]" alt="">
          <img [src]="product.images[4]" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="product-inner">
        <form>
          <h2 class="product-name">{{product.title}} </h2>
          <div class="product-inner-price">
            {{product.price | currency: 'USD'}}
          </div>
          <div class="quantity">
            <input type="number" class="input-text qty text" [(ngModel)]="quantity" name="quantity" min="1" max="4"
              step="1">
          </div>
          <button class="add_to_cart_button" type="submit" (click)="addToCart()">Add to cart</button>

          <div class="product-inner-category">
            <p>
              Category: {{product.category | uppercase}}.
            </p>
            <p>
              Brand: {{product.brand | uppercase}}.
            </p>
          </div>
        </form>
        <div role="tabpanel">
          <ul class="product-tab" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                data-toggle="tab">Description</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <h3>Product Description</h3>
              <p>{{product.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
