<ng-container *ngIf="product.id">
  <div class="product-breadcroumb">
    <a href="">Home</a>
    <a routerlink="/shop">Shop</a>
    <a href="">{{product.title}}</a>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="product-images">
        <div class="product-main-img">
          <img [src]="product.images[0]" alt="">
        </div>

        <div class="product-gallery">
          <img [src]="product.images[1]" alt="">
          <img [src]="product.images[2]" alt="">
          <img [src]="product.images[3]" alt="">
          <img [src]="product.images[4]" alt="">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="product-inner">
        <h2 class="product-name">{{product.title}} </h2>
        <div class="product-inner-price">
          {{product.price}}
        </div>

        <form action="" class="cart">
          <div class="quantity">
            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1"
              step="1">
          </div>
          <button class="add_to_cart_button" type="submit">Add to cart</button>
        </form>

        <div class="product-inner-category">
          Category: {{product.category}}.
        </div>

        <div role="tabpanel">
          <ul class="product-tab" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                data-toggle="tab">Description</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
              <h3>Product Description</h3>
              <p>{{product.description}}</p>
              <p>Brand: {{product.brand}}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">
              <h2>Reviews</h2>
              <div class="submit-review">
                <p><label for="name">Name</label> <input name="name" type="text"></p>
                <p><label for="email">Email</label> <input name="email" type="email"></p>
                <div class="rating-chooser">
                  <p>Your rating</p>

                  <div class="rating-wrap-post">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea>
                </p>
                <p><input type="submit" value="Submit"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
